body {
    background: rgb(143, 143, 143);
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    color: red;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p{
    font-size: 18px;
}

header {
    margin-top: 30px;
}

.img-padrao {
    margin-bottom: 20px;
    width: 300px;
}

footer{
    margin-bottom: 30px;
}